@page "/Matches"
@using BldLeague.Application.Queries.Leagues.GetAll
@using BldLeague.Application.Queries.Rounds.GetAllBySeasonId
@using BldLeague.Application.Queries.Seasons.GetAll
@using BldLeague.Web.ViewModels
@model MatchList

<div class="container mt-2">
    <h2>Mecze</h2>
    <form method="get" class="row g-3 align-items-center">

        <div class="col-auto d-flex align-items-center">
            <select asp-for="SeasonId"
                    asp-items="@(new SelectList(Model.Seasons, nameof(SeasonSummaryDto.Id), nameof(SeasonSummaryDto.SeasonName)))"
                    class="form-select"
                    onchange="this.form.submit()">
            </select>
        </div>

        <div class="col-auto d-flex align-items-center">
            <select asp-for="LeagueId"
                    asp-items="@(new SelectList(Model.Leagues, nameof(LeagueSummaryDto.Id), nameof(LeagueSummaryDto.LeagueName)))"
                    class="form-select"
                    onchange="this.form.submit()">
            </select>
        </div>

        <div class="col-auto d-flex align-items-center">
            <select asp-for="RoundNumber"
                    asp-items="@(new SelectList(Model.Rounds, nameof(RoundSummaryDto.RoundNumber), nameof(RoundSummaryDto.RoundName)))"
                    class="form-select"
                    onchange="this.form.submit()">
            </select>
        </div>

    </form>

    <hr class="my-4" />

    <table class="table table-hover align-middle">
        <thead class="table">
            <tr>
                <th scope="col" class="text-end pe-3">Zawodnik A</th>
                <th scope="col" colspan="3" class="text-center">Wynik</th>
                <th scope="col">Zawodnik B</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
        @if (Model.MatchSummaries.Any())
        {
            foreach (var matchSummary in Model.MatchSummaries)
            {
                <tr>
                    <td class="text-end"><a asp-page="/Users/UserProfile" asp-route-id="@matchSummary.UserAId">@matchSummary.UserAFullName</a></td>

                    @if (string.IsNullOrEmpty(matchSummary.UserBFullName))
                    {
                        <td class="text-center" colspan="3">N/A</td>
                        <td></td>
                    }
                    else if (matchSummary.Status == MatchStatus.Finished)
                    {
                        <td class="text-center">@matchSummary.UserAScore</td>
                        <td class="text-center">:</td>
                        <td class="text-center">@matchSummary.UserBScore</td>
                        <td><a asp-page="/Users/UserProfile" asp-route-id="@matchSummary.UserBId">@matchSummary.UserBFullName</a></td>
                    }
                    else if (matchSummary.Status == MatchStatus.InProgress)
                    {
                        <td class="text-center" colspan="3"><span class="badge text-bg-warning">W trakcie</span></td>
                        <td><a asp-page="/Users/UserProfile" asp-route-id="@matchSummary.UserBId">@matchSummary.UserBFullName</a></td>
                    }
                    else
                    {
                        <td class="text-center" colspan="3"><span class="badge text-bg-secondary">Planowany</span></td>
                        <td><a asp-page="/Users/UserProfile" asp-route-id="@matchSummary.UserBId">@matchSummary.UserBFullName</a></td>
                    }

                    <td>
                        @if (matchSummary.Status == MatchStatus.Finished)
                        {
                            <a class="btn btn-sm btn-primary"
                               asp-page="/Matches/ViewMatch"
                               asp-route-id="@matchSummary.MatchId">
                                Zobacz
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-outline-secondary"
                               asp-page="/Matches/ViewMatch"
                               asp-route-id="@matchSummary.MatchId">
                                Zobacz
                            </a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">Brak danych.</td>
            </tr>
        }
        </tbody>
    </table>
</div>
